
@{
    ViewBag.Title = "Almacenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Almacen</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>Lista de Almacenes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nueva</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre del Almacén</th>
                    <th>Dirección del Almacén</th>
                    <th>Estado del Almacén</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Almacén</h5>
                <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <div class="row g-1">
                    <div class="col-sm-6">
                        <label for="txtnombrealmacen" class="form-label">Almacen:</label>
                        <input type="text" class="form-control" id="txtnombrealmacen" placeholder="Nombre del Almacen" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtdireccion" class="form-label">Dirección:</label>
                        <input type="text" class="form-control" id="txtdireccion" placeholder="Dirección del Almacen" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Estado</label>
                        <select id="cboestado" class="form-select"></select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert-check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar Almacen</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var tabladata;
        var filaSeleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarAlmacen", "Almacen")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "NombreAlmacen" },
                { "data": "Direccion" },
                {
                    "data": "oEstado", "render": function (data) {
                        return data.NombreEstado
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtnombrealmacen").val("");
            $("#txtdireccion").val("");
            $("#cboestado").val($("#cboestado option:first").val());
            $("#mensajeError").hide();

            if (json != null) {
                $("#txtid").val(json.IdAlmacen);
                $("#txtnombrealmacen").val(json.NombreAlmacen);
                $("#txtdireccion").val(json.Direccion);
                $("#cboestado").val(json.oEstado.IdEstado);
            }
            $("#FormModal").modal("show");
        }

        /*Control de Lista Desplegable: Estado*/
        jQuery.ajax({
            url: '@Url.Action("ListarEstados", "Estado")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cboestado");
                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value": item.IdEstado }).text(item.NombreEstado).appendTo("#cboestado");
                })
            },
            error: function(error) {
                console.log(error)
            },
            beforeSend: function () {

            },
        });

        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            abrirModal(data)
        })

        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var almacenseleccionado = $(this).closest("tr");
            var data = tabladata.row(almacenseleccionado).data();

            swal({
                title: "Consolidados",
                text: "¿Desea eliminar este registro?",
                type: "warning",
                showCancelButton: "true",
                confirmationButtonClass: "btn btn-danger",
                confirmationButtonText: "Sí",
                cancelButtonClass: "btn btn-primary",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarAlmacen", "Almacen")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdAlmacen }),
                        contentType: "application/json; charset=UTF-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabladata.row(almacenseleccionado).remove().draw();
                            } else {
                                swal("No se pudo eliminar el registro", data.mensaje, "error")
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        },
                        beforeSend: function () {

                        },
                    });
                });

            console.log(data)
        })

        function Guardar() {
            var Almacen = {
                IdAlmacen: $("#txtid").val(),
                NombreAlmacen: $("#txtnombrealmacen").val(),
                Direccion: $("#txtdireccion").val(),
                oEstado: {
                    IdEstado: $("#cboestado option:selected").val(),
                    NombreEstado: $("#cboestado option:selected").text()
                }
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarAlmacen", "Almacen")',
                type: "POST",
                data: JSON.stringify({ objeto: Almacen }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    if (Almacen.IdAlmacen == 0) {
                        if (data.resultado != 0) {
                            Almacen.IdAlmacen = data.resultado;
                            tabladata.row.add(Almacen).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $(".modal-body").LoadingOverlay("hide");
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    } else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Almacen).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide")
                    $("#mensajeError").text();
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    });
                }
            });
        }
    </script>
}